mixin AdvancedForms 
	+Section('container-lg').gsap.pb-0.overflow-hidden
		.row.justify-content-center.mb-11
			.col-12.col-xl-7.text-center
				h2.text-1000.fw-normal.lh-sm Beautiful blending of 
					br 
					| card and cardless designs of
					span.text-primary.position-relative.fw-bolder.d-inline-flex.ms-2  advanced forms
						img.text-illustration-underline(src=`${CWD}assets/img/spot-illustrations/31.png`, alt="")

		.row.g-2.showcase-gallery.mx-auto(style='width:1545px;')
			.col-3.align-self-end.mb-2
				.row.g-2
					.col-12
						img.w-100.z-index-3.layer-4(data-gsap='-480' src=`${CWD}assets/img/sections/1.webp`, alt="" style='max-width: 375px')
					.col-6
						img.w-100.z-index-5.layer-6(data-gsap='-600' src=`${CWD}assets/img/sections/2.webp`, alt="" style='max-width: 183px;')
					.col-6
						img.w-100.z-index-2.layer-3(data-gsap='-420' src=`${CWD}assets/img/sections/3.webp`, alt="" style='max-width: 183px;')
					.col-12.text-end
						img.w-100.z-index-3.layer-4(data-gsap='-480' src=`${CWD}assets/img/sections/4.webp`, alt="" style='max-width: 234px;')
			.col-9
				.row.g-2.align-items-end.mb-2
					.col-auto
						img.z-index-4.layer-5(data-gsap='-540' src=`${CWD}assets/img/sections/5.webp`, alt="" style='max-width: 454px;')
					.col-auto
						img.z-index-2.layer-3(data-gsap='-420' src=`${CWD}assets/img/sections/8.webp`, alt="" style='max-width: 303px;')
					.col-auto
						img.z-index-4.layer-5(data-gsap='-540' src=`${CWD}assets/img/sections/12.webp`, alt="" style='max-width: 376px;')
				.row.g-2.mb-2
					.col-auto
						img.layer-1(data-gsap='-300' src=`${CWD}assets/img/sections/6.webp`, alt="" style='max-width: 444px;')
					.col-auto
						img.z-index-4.layer-5(data-gsap='-540' src=`${CWD}assets/img/sections/9.webp`, alt="" style='max-width: 165px;')
					.col-auto
						img.z-index-1.layer-2(data-gsap='-360' src=`${CWD}assets/img/sections/10.webp`, alt="" style='max-width: 165px;')
					.col-auto
						img.z-index-2.layer-3(data-gsap='-420' src=`${CWD}assets/img/sections/13.webp`, alt="" style='max-width: 343px;')
				.row.g-2.mb-2
					.col-auto
						img.z-index-5.layer-6(data-gsap='-600' src=`${CWD}assets/img/sections/7.webp`, alt="" style='max-width: 510px;')
					.col-auto
						img.mb-2.d-block.layer-1(data-gsap='-300' src=`${CWD}assets/img/sections/11.webp`, alt="" style='max-width: 355px;')
						img.z-index-2.layer-3(data-gsap='-420' src=`${CWD}assets/img/sections/16.webp`, alt="" style='max-width: 355px;')
					.col-auto
						img.z-index-5.mb-2.d-block.layer-6(data-gsap='-600' src=`${CWD}assets/img/sections/14.webp`, alt="" style='max-width: 137px;')
						img.z-index-5.layer-6(data-gsap='-600' src=`${CWD}assets/img/sections/15.webp`, alt="" style='max-width: 137px;')
						



		
