mixin Features
	+Section('container-small px-lg-7 px-xxl-3').pt-15.pb-0#feature
		.position-relative.z-index-2
			.row
				.col-lg-6.text-center.text-lg-start.pe-xxl-3
					h4.text-primary.fw-bolder.mb-4 Features
					h2.mb-3.text-black.lh-base A fully integrated suite
						br
						| of payments products
					p.mb-5 With the power of Phoenix, you can now focus only on functionaries for your digital products, while leaving the UI design on us!With the power of Phoenix, you can now focus only on functionaries for your digital products, while leaving the UI design on us!
					a.btn.btn-lg.btn-outline-primary.rounded-pill.me-2(href='#!' role='button') Find out more
						i.fa-solid.fa-angle-right.ms-2
				.col-sm-6.col-lg-3.mt-7.text-center.text-lg-start
					.h-100.d-flex.flex-column.justify-content-between
						.border-start-lg.border-dashed.ps-4
							img.mb-4(src=`${CWD}assets/img/icons/illustrations/bolt.png` width="48" height="48" alt='')
							div
								h5.fw-bolder.mb-2 Lightning Speed
								p.fw-semi-bold.lh-sm Present everything you need in one place within minutes! Grow with  Phoenix!
							div
								a.btn.btn-link.me-2.p-0.fs--1(href='#!' role='button') Check Demo
									span.fa-solid.fa-angle-right.ms-2

				.col-sm-6.col-lg-3.mt-7.text-center.text-lg-start
					.h-100.d-flex.flex-column
						.border-start-lg.border-dashed.ps-4
							img.mb-4(src=`${CWD}assets/img/icons/illustrations/pie.png` width="48" height="48" alt='')
							div
								h5.fw-bolder.mb-2 All-in-one solution
								p.fw-semi-bold.lh-sm Show your production and growth graph in one place with Phoenix!
							div
								a.btn.btn-link.me-2.p-0.fs--1(href='#!' role='button') Check Demo
									i.fa-solid.fa-angle-right.ms-2

			.row.mt-12.align-items-center.justify-content-between.text-center.text-lg-start.mb-6.mb-lg-0
				.col-lg-5
					img.feature-image.mb-9.mb-lg-0.d-dark-none(src=`${CWD}assets/img/spot-illustrations/22_2.png`  alt='')
					img.feature-image.mb-9.mb-lg-0.d-light-none(src=`${CWD}assets/img/spot-illustrations/dark_22.png`  alt='')
				.col-lg-6
					h6.text-primary.mb-2.ls-2 SIGNAL
					h3.fw-bolder.mb-3 Recieve the signals instantly
					p.mb-4.px-md-7.px-lg-0 Phoenix makes it possible for you to quickly and effectively receive every signal. No need for drawn-out waiting.

					a.btn.btn-link.me-2.p-0.fs--1(href='#!' role='button') Check Demo
						i.fa-solid.fa-angle-right.ms-2

			.row.mt-2.align-items-center.justify-content-between.text-center.text-lg-start.mb-6.mb-lg-0
				.col-lg-5.order-0.order-lg-1
					img.feature-image.mb-9.mb-lg-0.d-dark-none(src=`${CWD}assets/img/spot-illustrations/23_2.png` height='394' alt='')
					img.feature-image.mb-9.mb-lg-0.d-light-none(src=`${CWD}assets/img/spot-illustrations/dark_23.png` height='394' alt='')
				.col-lg-6
					h6.text-primary.mb-2.ls-2 REVENUE
					h3.fw-bolder.mb-3 See Your Revenue Grow
					p.mb-4.px-md-7.px-lg-0 Grow with Phoenix. We help you with everything you might need., We make it easy and keep it simple.

					a.btn.btn-link.me-2.p-0.fs--1(href='#!' role='button') Check Demo
						i.fa-solid.fa-angle-right.ms-2

			.row.mt-2.align-items-center.justify-content-between.text-center.text-lg-start.mb-6.mb-lg-0
				.col-lg-5
					img.feature-image.mb-9.mb-lg-0.d-dark-none(src=`${CWD}assets/img/spot-illustrations/24_2.png` height='394' alt='')
					img.feature-image.mb-9.mb-lg-0.d-light-none(src=`${CWD}assets/img/spot-illustrations/dark_24.png` height='394' alt='')
				.col-lg-6.text-center.text-lg-start
					h6.text-primary.mb-2.ls-2 REPORTS
					h3.fw-bolder.mb-3 Get Reports Ready
					p.mb-4.px-md-7.px-lg-0 With Phoenix, you can get ready reports on your growth analysis anytime. This dashboard also has all filters accessible according to your needs.
					a.btn.btn-link.me-2.p-0.fs--1(href='#!' role='button') Check Demo
						i.fa-solid.fa-angle-right.ms-2
