mixin Comments(config)
  .d-flex.align-items-start&attributes(attributes)
    .avatar.avatar-m.status-online.me-2
      img.rounded-circle(src=`${CWD}assets/img${config.avatar}` alt)
    .flex-1
      .d-flex.align-items-center
        a.fw-bold.mb-0.text-decoration-none.text-black(href="#!")=config.name
        span.text-600.fw-semi-bold.fs--2.ms-2=config.time
      p.mb-0=config.comment
      if config.reply
        button.btn.btn-link.p-0.text-900.text-decoration-none.fw-bolder.mb-2(type='button')
          span.fa-solid.fa-reply.fs--2.me-1
          span.d-inline-block.fw-bold.fs--2 Reply
        each reply in config.reply
          +Comments(reply).mb-3

mixin CommentField(avatar)
  .d-flex.align-items-center&attributes(attributes)
    .avatar.avatar-m.me-2
      img.rounded-circle(src=`${CWD}assets/img${avatar}` alt)
    .flex-1
      input.form-control(type='text' placeholder='Add comment')

mixin Post(config,index)
  .mb-5
    .card.mb-4.overflow-hidden
      .card-body.p-3.p-sm-4
        .border-bottom.mb-3
          .d-flex.align-items-center.mb-3
            .avatar.avatar-xl.status-online.me-2
              img.rounded-circle.border.border-2.border-white(src=`${CWD}assets/img${config.avatar}` alt)
            .flex-1
              a.fw-bold.mb-0.text-decoration-none.text-black(href="#!")=config.name
              p.fs--2.mb-0.text-600.fw-semi-bold
                |#{config.time}
                if config.location
                  span.fa-solid.fa-circle.text-300(data-fa-transform='shrink-10 down-2')
                  |#{config.location}
                  span.fa-solid.fa-circle.text-300(data-fa-transform='shrink-10 down-2')
                  span.fa-solid.fa-earth-americas.text-900
            +RevealBtn
          p.text-800=config.post		
          if config.images
            .row.g-1.mb-5
              each image in config.images
                div(class=image.classes)
                  a(href=`${CWD}assets/img/${image.src}` data-gallery=`gallery-posts-${index}`)
                    img.rounded.h-100.w-100(src=`${CWD}assets/img/${image.src}` alt='...')
        .d-flex
          button.btn.btn-link.p-0.me-3.fs--2.fw-bolder(type='button')
            span.fa-solid.fa-heart.me-1
            =config.likes
          button.btn.btn-link.text-900.p-0.fs--2.me-3.fw-bolder(type='button')
            span.fa-solid.fa-comment.me-1
            =config.comment
          button.btn.btn-link.text-900.p-0.fs--2.me-2.fw-bolder(type='button')
            span.fa-solid.fa-share.me-1
            =config.shares
      .bg-100.border-top.p-3.p-sm-4
        if config.comments 
          each comment in config.comments 
            +Comments(comment)
        +CommentField(config.commentInputAvatar)

mixin PostList(count)
  -
    var PostList = [
      {
        name:'Zingko Kudobum',
        avatar: '/team/59.webp',
        time:'35 mins ago',
        location: 'Consett, UK',
        post:'Some paintings I love',
        images:[
          {
            classes:'col-3',
            src: 'gallery/17.png',
          },
          {
            classes:'col-3',
            src: 'gallery/18.png',
          },
          {
            classes:'col-6',
            src: 'gallery/19.png',
          },
        ],
        comments:[
          {
            name:'Mamur Fechetti',
            avatar: '/team/23.webp',
            time:'35 mins ago',
            classes:'pt-4',
            comment:'How long did it take to create this? It appears that you quickly produced the second one.',
            reply:[
              {
                name:'Zingko Kudobum',
                avatar: '/team/62.webp',
                time:'5 mins ago',
                comment:`I am so clever that sometimes I don't understand a single word of what I am saying.`
              },
            ]
          },
        ] ,
        commentInputAvatar: '/team/59.webp',
        likes:'345 Likes',
        comment:'45 Comments',
        shares:'56 shares',

      },
      {
        name:'Zingko Kudobum',
        avatar: '/team/30.webp',
        time:'35 mins ago',
        post:`A guy enters a bakery while carrying a 25-pound haddock.
            He asks the baker if he makes fish cakes. The rather perplexed baker responds in the negative.
            The guy responds "That's unfortunate.Today is his birthday"`,
        commentInputAvatar: '/team/61.webp',
        likes:'23 Likes',
        comment:'9 Comments',
        shares:'3 shares',
      },
      {
        name:'Zingko Kudobum',
        avatar: '/team/59.webp',
        time:'35 mins ago',
        location: 'Consett, UK',
        post:'Some paintings I love',
        images:[
          {
            classes:'col-3',
            src: 'gallery/20.png',
          },
          {
            classes:'col-3',
            src: 'gallery/21.png',
          },
        ],
        comments:[
          {
            name:'Mamur Fechetti',
            avatar: '/team/23.webp',
            time:'35 mins ago',
            classes:'pt-4',
            comment:'Time is the best teacher; Unfortunately it kills all its students!',
            reply:[
              {
                name:'Zingko Kudobum',
                avatar: '/team/62.webp',
                time:'5 mins ago',
                comment:'If you’re too open-minded, your brains will fall out.!'
              },
            ]
          },
        ] ,
        commentInputAvatar: '/team/59.webp',
        likes:'345 Likes',
        comment:'45 Comments',
        shares:'56 shares',
      },
    ]
  each post,index in PostList.slice(0,count)
    +Post(post,index)

mixin Messages
  -
    var messages = [
      {
        avatar: {
          size: 'm',
          img: 'team/35.webp',  
          status: 'online', 
          round: 'circle'
        },
        name: 'Stanly Drinkwater',
        message: 'When you gonna pay me back, don’t leave me hanging'
      },
      {
        avatar: {
          size: 'm',
          img: 'team/30.webp', 
          status: 'online', 
          round: 'circle'
        },
        name: 'Milind Mikuja',
        message: 'But the mare fact that she said that makes'
      },
      {
        avatar: {
          size: 'm',
          img: 'team/avatar.webp', 
          status: 'online', 
          round: 'circle',
          imgClass: 'avatar-placeholder'
        },
        name: 'Josef Stravinsky',
        message: 'Oi Cult.'
      },
      {
        avatar: {
          size: 'm',
          img: 'team/59.webp', 
          status: 'online', 
          round: 'circle'
        },
        name: 'Martina scorcese',
        message: 'Thanks for that. Sincerely.'
      },
      {
        avatar: {
          size: 'm',
          img: 'team/57.webp', 
          status: 'online', 
          round: 'circle'
        },
        name: 'Meekona Zikon',
        message: 'I am Outside, Come here, Lets smoke...'
      },
    ]

  .d-flex.flex-between-center.pb-3.border-bottom.border-dashed.border-300
    h3.mb-0 Messages
      span.text-700.ms-2.fw-normal (97)
    +RevealBtn
  each message in messages
    .d-flex.py-3.align-items-center.border-bottom.border-dashed.hover-actions-trigger
      .me-2
        +Avatar(message.avatar)
      a(href=`${CWD}${paths['app-chat']}`).text-decoration-none.flex-1
        h5=message.name
        p.text-700.fw-semi-bold.fs--1.mb-0.lh-sm.line-clamp-1=message.message
      .hover-actions.align-self-center.end-0
        a.btn.p-0.fs--2.text-primary(href=`${CWD}${paths['app-chat']}`)
          span.fa-solid.fa-reply.me-2
          | Reply

mixin Photos
  - 
    photos = [
      'gallery/11.png',
      'gallery/12.png',
      'gallery/13.png',
      'gallery/14.png',
      'gallery/15.png',
      'gallery/16.png',
    ]
  .d-flex.pb-4.align-items-end
    h3.flex-1.mb-0 Photos
    a.fw-bold.text-decoration-none.fs--1.me-4(href="#!") Albums
    a.fw-bold.text-decoration-none.fs--1(href="#!") See all
  .row.g-3
    each photo in photos
      .col-4
        a(href=`${CWD}assets/img/${photo}` data-gallery=`gallery-photos`)
          img.w-100.rounded-3(src=`${CWD}assets/img/${photo}`, alt="")

mixin Events
  -
    var events = [
      {
        date: 'MON, FEB 21- MARCH 23',
        title: 'Master Class on FILM Studies THESIS on Makers',
        organization: 'IAFM- International Academy of Film and Media',
        people: 64,
        time: '12.30PM - 10PM',
        place: 'Tavern on the Greend, New York'
      },
      {
        date: 'MON, FEB 21- MARCH 23',
        title: "Master Class on FILM Studies 'ANALYSIS of Cinema'",
        organization: 'IAFM- International Academy of Film and Media',
        people: 64,
        time: '12.30PM - 10PM',
        place: 'Tavern on the Greend, New York'
      },
      {
        date: 'MON, FEB 21- MARCH 23',
        title: 'Witnessing History in Making Photographs',
        organization: 'IAFM- International Academy of Film and Media',
        people: 64,
        time: '12.30PM - 10PM',
        place: 'Tavern on the Greend, New York'
      }
    ]
  each event in events
    .py-3.border-bottom.border-dashed
      .d-flex.flex-between-center
        p.text-warning.fs--2.mb-0.fw-bold.mb-1=event.date
        +RevealBtn
      a(href="#!").hover-primary.text-decoration-none.text-1000.fw-bold.mb-2.line-clamp-1.me-5.lh-base=event.title
      p.text-800.fs--1.mb-2 Organized by 
        br
        a.fw-bold.text-primary(href="#!")=event.organization
      p.fs--2.text-600 #{event.people} people going
      p.fs--1.text-700.fw-bold.mb-1
        span.fa-solid.fa-clock.text-800.me-1
        | #{event.time}
      p.fs--1.text-700.fw-bold.mb-0
        span.fa-solid.fa-map-marker-alt.text-800.me-1
        | #{event.place}

mixin ProfileNavigation
  .row.g-0
    .col-6.border-1.border-bottom.border-end.py-2 
      a(href="#!").btn.btn-link.ps-2.fs-0.text-800.hover-primary.fw-semi-bold.text-decoration-none.d-flex.flex-column.d-xxl-inline-block
        span.fa-solid.fa-user-group.me-2.mb-2.mb-xxl-0
        | Followers
    .col-6.border-1.border-bottom.py-2
      a(href="#!").btn.btn-link.fs-0.text-800.hover-primary.fw-semi-bold.text-decoration-none.d-flex.flex-column.d-xxl-inline-block
        span.fa-solid.fa-users.me-2.mb-2.mb-xxl-0
        | Communities
    .col-6.border-1.border-bottom.border-end.py-2
      a(href="#!").btn.btn-link.ps-2.fs-0.text-800.hover-primary.fw-semi-bold.text-decoration-none.d-flex.flex-column.d-xxl-inline-block
        span.fa-solid.fa-photo-film.me-2.mb-2.mb-xxl-0
        | Media Files
    .col-6.border-1.border-bottom.py-2
      a(href="#!").btn.btn-link.fs-0.text-800.hover-primary.fw-semi-bold.text-decoration-none.d-flex.flex-column.d-xxl-inline-block
        span.fa-solid.fa-calendar-days.me-2.mb-2.mb-xxl-0
        | Events
    .col-6.border-1.border-end.py-2
      a(href="#!").btn.btn-link.ps-2.fs-0.text-800.hover-primary.fw-semi-bold.text-decoration-none.d-flex.flex-column.d-xxl-inline-block
        span.fa-solid.fa-dice.me-2.mb-2.mb-xxl-0
        | Games
    .col-6.border-1.py-2
      a(href="#!").btn.btn-link.fs-0.text-800.hover-primary.fw-semi-bold.text-decoration-none.d-flex.flex-column.d-xxl-inline-block
        span.fa-solid.fa-user-gear.me-2.mb-2.mb-xxl-0
        | Settings 

mixin EventBanner
  .card.cover-image.mb-3
    img.card-img-top(src=`${CWD}assets/img/generic/13.jpg` alt='')
    input#upload-cover-image.d-none(type="file")
    label.cover-image-file-input(for="upload-cover-image")
      span.fas.fa-camera.me-2
      span Change cover photo

mixin FeedProfileCard
  .card.cover-image&attributes(attributes)
    .card-header.hover-actions-trigger.position-relative.mb-7(style="min-height: 130px; ")
      .bg-holder(style=`background-image: linear-gradient(0deg, #000000 -3%, rgba(0, 0, 0, 0) 83%), url(${CWD}assets/img/generic/59.png)`)
        input#upload-cover-image.d-none(type="file")
        label.cover-image-file-input(for="upload-cover-image")
        .hover-actions.end-0.bottom-0.pe-1.pb-2.text-white
          span.fa-solid.fa-camera.me-2.overlay-icon 
      input#upload-porfile-picture.d-none(type="file")
      label.avatar.avatar-4xl.status-online.feed-avatar-profile.cursor-pointer(for="upload-porfile-picture")
        img(src=`${CWD}assets/img/team/59.webp` width=200 alt='').rounded-circle.img-thumbnail.bg-white.shadow-sm
      
    .card-body
      .row
        .col-12
          .d-flex.flex-wrap.mb-3.align-items-center
            h3.me-2 Ansolo Lazinatov
            span.fw-normal.fs-0 u/hansolo
          .mb-3
            .d-flex.align-items-center.flex-wrap
              .d-flex.me-4.mb-2
                span.fa-solid.fa-user-group.fs--2.me-2.me-lg-1.me-xl-2
                h6.d-inline-block.mb-0 1297 
                  span.fw-semi-bold Followers
              .d-flex.mb-2
                span.fa-solid.fa-user-check.fs--2.me-2.me-lg-1.me-xl-2
                h6.d-block.d-xl-inline-block.mb-0 
                  | 3971 
                  span.fw-semi-bold Following

          p.fw-semi-bold.mb-0 About me
            a(href="#!")
              span.fa-solid.fa-pencil.fs--2.text-500.ms-3

          p.text-700.mb-0 “Le capitalisme exploite. Et le capitalisme exploite les gens de couleur. Comme il exploite les hommes. Ou comme il exploite les femmes.”  


mixin FeedTextarea
  .card.d-flex.flex-column&attributes(attributes)
    textarea.form-control.border-200.rounded-bottom-0.border-0.flex-1.fs-0( rows='7' placeholder='Write something...')
    .card-footer.p-3
      .d-flex.justify-content-between.align-items-center
        
        button.btn.p-0.me-3
          span.fa-solid.fa-image.fs-0
        button.btn.p-0.me-3
          span.fa-solid.fa-calendar-alt.fs-0
        button.btn.p-0.me-3
          span.fa-solid.fa-map-marker-alt.fs-0
        button.btn.p-0.me-3
          span.fa-solid.fa-tag.fs-0
        .dropdown.me-3.d-inline-block.flex-1
          button.btn.p-0.dropdown-toggle.dropdown-caret-none.d-flex.align-items-center(type='button', data-bs-toggle='dropdown', aria-expanded='false') 
            span.fa-solid.fa-globe-asia.fs-0.me-1
            span.me-1.lh-base.d-none.d-sm-block public
            span.fa-solid.fa-caret-down.fs--2.text-500

          ul.dropdown-menu
            li
              a.dropdown-item(href='#') Public
            li
              a.dropdown-item(href='#') Private
            li
              a.dropdown-item(href='#') Draft
        .d-flex.align-items-center
          button.btn.btn-primary.btn-sm.px-6.px-sm-8 Post



