include ../mixins/authentication/SocialButtons

mixin LayoutCardBasic(config)
  .container-fluid
    +Background({image:`${CWD}assets/img/bg/${config.img}.png`, className: 'bg-auth-card-overlay' })
    .row.flex-center.position-relative.min-vh-100.g-0.py-5
      .col-11.col-sm-10.col-xl-8
        .card.border.border-300.auth-card
          .card-body.pe-md-0
            .row.align-items-center.gx-0.gy-5
              .col-auto.bg-100.dark__bg-1100.rounded-3.position-relative.overflow-hidden.auth-title-box
                +Background({image:`${CWD}assets/img/bg/38.png`, className: '' })
                .position-relative.px-4.pt-7.pb-7.pb-sm-5.pb-lg-7.text-center.text-md-start(class=`${config.page === 'sign-up'? 'pb-md-7': 'pb-md-3', config.page === 'forgot-pasword' ? 'px-lg-7': 'px-md-7'}`)
                  div(class=`${config.page==='forgot-pasword' && 'd-none'}`)
                    a(href=`${CWD}${paths['default-dashboard']}`) 
                      +Logo({text:false,width:48}).justify-content-center.justify-content-md-start
                    h3.mt-3.text-black= config.title
                    if config.link 
                      a.fw-bold.fs--1(href=config.link)
                        | #{config.text}
                        span.fas.fa-angle-right.ms-1(data-fa-transform='down-1 shrink-2')
                    else 
                      p.text-700.mb-0.mb-sm-3= config.text
                  +ForgotPasswordTitileBox(config.page)
                .position-relative.z-index--1.mb-6.d-none.d-sm-block.text-center(class=`${config.page === 'forgot-pasword' ? 'mt-md-5': 'mt-md-15'}`)
                  img.auth-title-box-img.d-dark-none(src=`${CWD}assets/img/spot-illustrations/auth.png`, alt="" )
                  img.auth-title-box-img.d-light-none(src=`${CWD}assets/img/spot-illustrations/auth-dark.png`, alt="")
              .col.mx-auto
                block


mixin ForgotPasswordTitileBox(page)
  div(class=`${page==='forgot-pasword' || 'd-none'}`)
    h3.mb-3.text-black Forgot Password
    p.text-700 Give yourself some hassle-free development process with the uniqueness of Phoenix!
    ul.list-unstyled.mb-0
      li.d-flex.align-items-center
        span.uil.uil-check-circle.text-success.me-2
        span.text-700.fw-semi-bold Faster
      li.d-flex.align-items-center
        span.uil.uil-check-circle.text-success.me-2
        span.text-700.fw-semi-bold Simple
      li.d-flex.align-items-center
        span.uil.uil-check-circle.text-success.me-2
        span.text-700.fw-semi-bold Responsive