mixin Details
  .row.g-5.mb-5.mb-lg-8(data-product-details)
    .col-12.col-lg-6
      .row.g-3.mb-3
        .col-12.col-md-2.col-lg-12.col-xl-2
          #swiper-products-thumb.swiper-products-thumb.swiper.swiper-container.theme-slider.overflow-visible
        .col-12.col-md-10.col-lg-12.col-xl-10
          .d-flex.align-items-center.border.rounded-3.text-center.p-5.h-100
            .swiper.swiper-container.theme-slider(data-thumb-target='swiper-products-thumb' data-products-swiper!={
              slidesPerView: 1,
              spaceBetween: 16,
              thumbsEl: '.swiper-products-thumb'
            })

      .d-flex
        button.btn.btn-lg.btn-outline-warning.rounded-pill.w-100.me-3.px-2.px-sm-4.fs--1.fs-sm-0
          span.me-2.far.fa-heart
          | Add to wishlist
        button.btn.btn-lg.btn-warning.rounded-pill.w-100.fs--1.fs-sm-0
          span.fas.fa-shopping-cart.me-2
          | Add to cart
    .col-12.col-lg-6
      .d-flex.flex-column.justify-content-between.h-100
        div
          .d-flex.flex-wrap
            .me-2
              +Rating(5)
            p.text-primary.fw-semi-bold.mb-2 6548 People rated and reviewed 
          h3.mb-3.lh-sm 24" iMac® with Retina 4.5K display - Apple M1 8GB Memory - 256GB SSD - w/Touch ID (Latest Model) - Blue
          .d-flex.flex-wrap.align-items-start.mb-3
            span.badge.bg-success.fs--1.rounded-pill.me-2.fw-semi-bold #1 Best seller
            a.fw-semi-bold(href="#!") in Phoenix sell analytics 2021
          .d-flex.flex-wrap.align-items-center
            h1.me-3 $1349.99
            p.text-500.text-decoration-line-through.fs-2.mb-0.me-3 $1499.99
            p.text-warning-500.fw-bolder.fs-2.mb-0 10% off
          p.text-success.fw-semi-bold.fs-1.mb-2 In stock
          p.mb-2.text-800
            strong.text-1000 Do you want it on Saturday, July 29th?
            |  Choose 
            strong.text-1000 Saturday Delivery 
            | at checkout if you want your order delivered within 12 hours 43 minutes, 
            a.fw-bold(href='#!') Details. 
            strong.text-1000 Gift wrapping is available.
          p.text-danger-500.fw-bold.mb-5.mb-lg-0 Special offer ends in 23:00:45 hours
        div
          .mb-3
            p.fw-semi-bold.mb-2.text-900 Color : 
              span.text-1100(data-product-color) Blue
            .d-flex.product-color-variants(data-product-color-variants)
              .rounded-1.border.me-2.active(data-variant='Blue' data-products-images!= [
                `${CWD}assets/img/products/details/blue_front.png`,
                `${CWD}assets/img/products/details/blue_back.png`,
                `${CWD}assets/img/products/details/blue_side.png`,
              ])
                img(src=`${CWD}assets/img/products/details/blue_front.png`, alt="" width=38)

              .rounded-1.border.me-2(data-variant='Red' data-products-images!= [
                `${CWD}assets/img/products/details/red_front.png`,
                `${CWD}assets/img/products/details/red_back.png`,
                `${CWD}assets/img/products/details/red_side.png`,
              ])
                img(src=`${CWD}assets/img/products/details/red_front.png`, alt="" width=38)

              .rounded-1.border.me-2(data-variant='Green' data-products-images!= [
                `${CWD}assets/img/products/details/green_front.png`,
                `${CWD}assets/img/products/details/green_back.png`,
                `${CWD}assets/img/products/details/green_side.png`,
              ])
                img(src=`${CWD}assets/img/products/details/green_front.png`, alt="" width=38)

              .rounded-1.border.me-2(data-variant='Purple' data-products-images!= [
                `${CWD}assets/img/products/details/purple_front.png`,
                `${CWD}assets/img/products/details/purple_back.png`,
                `${CWD}assets/img/products/details/purple_side.png`,
              ])
                img(src=`${CWD}assets/img/products/details/purple_front.png`, alt="" width=38)

              .rounded-1.border.me-2(data-variant='Silver' data-products-images!= [
                `${CWD}assets/img/products/details/silver_front.png`,
                `${CWD}assets/img/products/details/silver_back.png`,
                `${CWD}assets/img/products/details/silver_side.png`,
              ])
                img(src=`${CWD}assets/img/products/details/silver_front.png`, alt="" width=38)

              .rounded-1.border.me-2(data-variant='Yellow' data-products-images!= [
                `${CWD}assets/img/products/details/yellow_front.png`,
                `${CWD}assets/img/products/details/yellow_back.png`,
                `${CWD}assets/img/products/details/yellow_side.png`,
              ])
                img(src=`${CWD}assets/img/products/details/yellow_front.png`, alt="" width=38)

              .rounded-1.border.me-2(data-variant='Orange' data-products-images!= [
                `${CWD}assets/img/products/details/orange_front.png`,
                `${CWD}assets/img/products/details/orange_back.png`,
                `${CWD}assets/img/products/details/orange_side.png`,
              ])
                img(src=`${CWD}assets/img/products/details/orange_front.png`, alt="" width=38)

              
          .row.g-3.g-sm-5.align-items-end
            .col-12.col-sm-auto
              p.fw-semi-bold.mb-2.text-900 Size : 
              .d-flex.align-items-center
                select.form-select.w-auto
                  option(value='44') 44
                  option(value='22') 22
                  option(value='18') 18
                a.ms-2.fs--1.fw-semi-bold(href="#!") Size chart
            .col-12.col-sm
              p.fw-semi-bold.mb-2.text-900 Quantity : 
              .d-flex.justify-content-between.align-items-end
                .d-flex.flex-between-center(data-quantity)
                  button.btn.btn-phoenix-primary.px-3(data-type="minus")
                    span.fas.fa-minus
                  //- p.mb-0.px-3 02
                  input.form-control.text-center.input-spin-none.bg-transparent.border-0.outline-none(style='width:50px;' type='number' min="1" value=02)
                  button.btn.btn-phoenix-primary.px-3(data-type="plus")
                    span.fas.fa-plus
                button.btn.btn-phoenix-primary.px-3.border-0
                  span.fas.fa-share-alt.fs-1