mixin RecentActivityTimeline
  -
    var timelineItems = [
      {
        date: '01 DEC, 2023',
        time: '10:30 AM',
        icon: 'fa-solid fa-chess',
        title: 'Assigned  as a director for Project  The Chewing Gum Attack',
        tasker: 'Shantinon Mekalan',
        content: 'Utilizing best practices to better leverage our assets, we must engage in black sky leadership thinking, not the usual band-aid solution.'
      },
      {
        date: '05 DEC, 2023',
        time: '12:30 AM',
        icon: 'fa-solid fa-dove',
        title: 'Assigned  as a director for Project  The Chewing Gum Attack',
        tasker: 'Shantinon Mekalan',
        content: 'We must repurpose with SEO optimized functionalities, instead of using those over used frictioned kumbaya.'
      },
      {
        date: '15 DEC, 2023',
        time: '2:30 AM',
        icon: 'fa-solid fa-dungeon',
        title: 'Archieved all the files for the Project  Membrane Memories',
        tasker: 'Sharuka Nijibum',
        content: 'To get off the runway and paradigm shift, we should take  brass tacks with above-the-board actionable analytics, ramp up with viral partnering, not the usual goat rodeo putting socks on an octopus.'
      },
    ]
  .timeline-vertical.timeline-with-details
    each item,index in timelineItems
      .timeline-item.position-relative
        .row.g-md-3
          .col-12.col-md-auto.d-flex
            .timeline-item-date.order-1.order-md-0.me-md-4
              p.fs--2.fw-semi-bold.text-600.text-end=item.date
                br.d-none.d-md-block
                |  #{item.time}
            .timeline-item-bar.position-md-relative.me-3.me-md-0.border-400
              .icon-item.icon-item-sm.rounded-7.shadow-none.bg-primary-100
                span(class=item.icon).text-primary-600.fs--2.dark__text-primary-300
              if index !== timelineItems.length - 1
                span.timeline-bar.border-end.border-dashed.border-400
          .col
            .timeline-item-content.ps-6.ps-md-3
              h5.fs--1.lh-sm=item.title
              p.fs--1 by 
                span.fw-semi-bold.text-primary=item.tasker
              p.fs--1.text-800(class=`${index !== timelineItems.length - 1 ? 'mb-5': 'mb-0'}`)=item.content
            
mixin RecentActivityCard
  .card.h-100
    .card-body
      .card-title.mb-1
        h3.text-1100 Activity
      p.text-700.mb-4 Recent activity across all projects
      +RecentActivityTimeline