mixin ToggleThemeBtn(id='themeControlToggle')
  .theme-control-toggle.fa-icon-wait.px-2&attributes(attributes)
    input.form-check-input.ms-0.theme-control-toggle-input(
      type='checkbox'
      data-theme-control="phoenixTheme"
      value='dark'
      id=id
    )
    label.mb-0.theme-control-toggle-label.theme-control-toggle-light(for=id data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme")
      span.icon(data-feather='moon')
    label.mb-0.theme-control-toggle-label.theme-control-toggle-dark(for=id data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme")
      span.icon(data-feather='sun')

mixin ToggleThemeBtnSlim
  .theme-control-toggle.fa-ion-wait.pe-2&attributes(attributes)
    input#themeControlToggle.form-check-input.ms-0.theme-control-toggle-input(
      type='checkbox'
      data-theme-control="phoenixTheme"
      value='dark'
    )
    label.mb-0.theme-control-toggle-label.theme-control-toggle-light(for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme")
      span.icon.me-1.d-none.d-sm-block(data-feather='moon')
      span.fs--1.fw-bold Dark
    label.mb-0.theme-control-toggle-label.theme-control-toggle-dark(for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme")
      span.icon.me-1.d-none.d-sm-block(data-feather='sun')
      span.fs--1.fw-bold Light