extends  ../../layouts/LayoutTheme
include  ../../mixins/landing/common/Navbar
include  ../../mixins/landing/landing-2/HeroHeader
include  ../../mixins/landing/landing-2/Brands
include  ../../mixins/landing/landing-2/Features
include  ../../mixins/landing/landing-2/Testimonial
include  ../../mixins/landing/landing-2/Gallery
include  ../../mixins/landing/landing-2/FunFacts
include  ../../mixins/landing/landing-2/Stats
include  ../../mixins/landing/landing-2/Pricing
include  ../../mixins/landing/landing-2/Blogs
include  ../../mixins/landing/landing-2/Contact
include  ../../mixins/landing/landing-2/Team
include  ../../mixins/landing/landing-2/Cta
include  ../../mixins/landing/landing-2/Footer

append styles

append scripts
  script(src=`${CWD}vendors/isotope-layout/isotope.pkgd.min.js`)
  script(src=`${CWD}vendors/isotope-packery/packery-mode.pkgd.min.js`)
  script(src=`${CWD}vendors/bigpicture/BigPicture.js`)
  script(src=`${CWD}vendors/lottie/lottie.min.js`)
  script(src=`${CWD}vendors/countup/countUp.umd.js`)
  script(src!=`https://maps.googleapis.com/maps/api/js?key=${APIGmap}&callback=initMap` async)

append variables
  - var attrsMain = { style: "--phoenix-scroll-margin-top: 1.2rem;", class: "alternate-landing" };

  - var disableNavigationType = true;
  - var disableVerticalNavbarAppearance = true;
  - var disableHorizontalNavbarShape = true;
  - var disableHorizontalNavbarAppearance = true;

block mainContent
  +Navbar
  +HeroHeader
  +Brands
  +Features
  +Testimonial
  +Gallery
  +FunFacts
  +Stats
  +Pricing
  +Blogs
  +Contact
  +Team
  +Cta
  +FooterLanding